h1 {
	text-align: center;
	color: white;
	font-size: 50px;
}

#bookmarksWrapper {
	max-width: 780px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
}

.bookmark {
	display: block;
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	text-decoration: none;
	color: white;
	vertical-align:  middle;
	border-radius: 15px;
	line-height: 200px;
	border: 2px solid white;
	margin: 20px;
	font-weight: bold;
	font-size: 35px;
}

.plusButton {
	background: gray;
	font-size: 60px;
}

#newBookmarkModal {
	width: 100%;
	height: 100%;
}

#exampleBookmark {
	width: fit-content;
	display: inline-block;
}

table {
	display: inline-block;
	width: fit-content;
}

tr {
	width: 100%;
}

td > label {
	display: block;
    text-align: end;
    padding: 20px;
    font-size: 20px;
}

td > input {
	display: block;
    margin: 20px;
    font-size: 20px;
}

.colorOption {
	width: 20px;
	height: 20px;
	margin: 0 8px;
}

.saveButton {
	background: green;
	color: white;
	font-size: 24px;
	padding: 8px 16px;
	border-radius: 8px
}

/* Got these modal classes from W3Schools.com - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	text-align: center
  }

html {
	background-image: url("patterncrop.jpg");
}

a:hover,
.plusButton:hover {
	text-decoration: none;
	box-shadow: 0px 0px 10px #009999;
	color: white;
	cursor: pointer
}

body {
	font-family: 'Play', sans-serif;
}